<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662064967478-s06mt96b98rqu17rfub887adkqukaf0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662064967478-s06mt96b98rqu17rfub887adkqukaf0q</string>
	<key>API_KEY</key>
	<string>AIzaSyCk0oum8AlmZSjJqnjwTostSopYTKrxh_4</string>
	<key>GCM_SENDER_ID</key>
	<string>662064967478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.survey</string>
	<key>PROJECT_ID</key>
	<string>survey-566ad</string>
	<key>STORAGE_BUCKET</key>
	<string>survey-566ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662064967478:ios:8faad1d3087558e4510d97</string>
</dict>
</plist>